.service {
  margin: 0.5rem 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__items {
    margin: 0.5rem;
    padding: 2rem;
    background-color: #5c5c5c;
    h4 {
      font-size: 1.5rem;
      color: white;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
